<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="http://cdn.bokeh.org/bokeh/release/bokeh-0.10.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh.min.js"></script>
    {{ script|safe }}
</head>
<body>
    <h4>Grafica de Temperatura de Fermentación aqui !!!</h4>
    <div class="bokeh">
        {{ div|safe }}
    </div>
         
</body>
</html>